{{ define "main" }}
<section>
    <div class="container">
        <h1>Em destaque</h1>
        <div id="index-content">
            {{- range (.Paginate ( first 4 .Site.RegularPages )).Pages }}
            <div class="summary card p20 mb10">
                <div class="content-body">
                <h2>{{ .Title }}</h2>
                <div>
                    <img src="{{ .RelPermalink }}/imgs/001.jpg" alt=""/><br/><br/>
                    {{ .Summary | plainify }}<br/>
                    <a class="btn" href="{{ .RelPermalink }}">Veja mais...</a>
                </div>
                </div>
            </div>
            {{- end}}
        </div>

        <div class="center mt20">
            <a class="btn" href="{{ "posts/" | absURL}}">Ver todos os artigos</a>
        </div>
    </div>

</section>

{{ end }}