#search-box {
    display: flex;
    gap: 4px;
    button, input {
        padding: 10px;
        border-radius: 4px;
    }
    input {
        flex: 1;
        border: 1px solid rgb(155, 155, 155);
    }
    button {
        flex: 0;
    }
}
#search-result {
    strong {
        color:rgb(102, 102, 102);
    }
    strong, h3 {
        margin: 20px 0;
        display: block;
    }
}